:root {
    --green1: #D8F3DC; 
    --green2: #B7E4C7;
    --green3: #95D5B2;
    --green4: #74C69D;
    --green5: #52B788;
    --green6: #40916C;
    --green7: #2D6A4F;
    --green8: #1B4332;
    --green9: #081C15;

    --ff-primary: "Quicksand", serif;
    --ff-large: "Bebas Neue", serif;
    --font-size-main-navbar: 20px;

    --navbar-select-clr: var(--green1);
    --navbar-selct-bg-clr: rgba(217, 217, 217, 0.1);

    --title-size: 75px;
    --subtitle-size: 50px;
    --regular-size: 25px;

    --ff-main-content-title: var(--ff-large);
    --ff-main-content-q: var(--ff-primary);

    --font-size-main-title: 41px;

    --std-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25), -1px -1px 2px rgba(255, 255, 255, 0.025);
    --std-shadow-thick: 2px 2px 4px rgba(0, 0, 0, 0.25), -2px -2px 4px rgba(255, 255, 255, 0.025);
    --bg-clr: linear-gradient(101.82deg, #D8F3DC 36.82%, #95D5B2 99.94%);

    --placeholder-clr: rgba(179, 179, 179, 0.85);
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

/* include border and padding in box-size */

*::before, *::after {
    box-sizing: border-box;
}

img, svg, picture {
    max-width: 100%;
}

/* Remove list styles on ul and ol */

ul, ol {
    list-style: none;
}

/* Remove anchor text decoration and take color of parent*/
a {
    color: inherit;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 86px;

    background: linear-gradient(90deg, #40916C 47.3%, #132B20 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header #header-logo {
    margin-left: 2.278645vw;
    width: 230px;
    justify-self: left;
    margin-right: 4.6875vw;
    cursor: pointer;

}

header .primary-navbar {
    width: 28.7109%;
    height: 100%;
    align-self: center;
}

header ul {
    height: 100%;
    width: 100%;
    display: inline-flex;
}

header li {
    align-self: center;
    font-weight: bold;
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 6.349206%;
    padding-right: 6.349206%;

    color: white;
    font-family: var(--ff-primary);
    font-size: var(--font-size-main-navbar);
    text-shadow: var(--std-shadow);
}

header li:hover {
    color: var(--navbar-select-clr);
    background: var(--navbar-selct-bg-clr);
}

/* navbar li element corresponding to active page highlight */
.active {
    color: var(--navbar-select-clr);
}

header .sign-in-btn {
    margin-left: auto;
    margin-right: 2.27864%;
    padding: 9px 1.9531%;

    background: rgba(64, 145, 108, 0.2);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25), -1px -1px 2px rgba(255, 255, 255, 0.025);
    border: none;
    border-radius: 42px;

    color: white;
    font-family: var(--ff-primary);
    font-size: var(--font-size-main-navbar);
    cursor: pointer;
}

.hover-select:hover {
    filter: brightness(85%);
}

.main-bg {
    background: var(--bg-clr);
}

/* Calculator Navigation Buttons */
.back-calculator-btn {
    display: flex;
    position: fixed;
    top: 340px;
    left: 20px;
    width: 50px;
    height: 50px;
    line-height: 0px;
    background: var(--green8);
    border: none;
    box-shadow: var(--std-shadow-thick);

    justify-content: center;
    align-items: center;

    border-radius: 50%;
    color: white;
    text-shadow: var(--std-shadow);
    font-family: var(--ff-primary);
    font-size: 34px;
}

.back-calculator-btn  p {
    margin-bottom: 4px;
}

.next-calculator-btn {
    display: flex;
    position: fixed;
    top: 340px;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 0px;
    background: var(--green8);
    border: none;
    box-shadow: var(--std-shadow-thick);

    justify-content: center;
    align-items: center;

    border-radius: 50%;
    color: white;
    text-shadow: var(--std-shadow);
    font-family: var(--ff-primary);
    font-size: 34px;
}

.next-calculator-btn  p {
    margin-bottom: 4px;
}

/* Main Content */
.main-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: cover;
}

.content-title {
    font-family: var(--ff-main-content-title);
    font-size: var(--font-size-main-title);
    color: #1B4332;
}

.content-q-title {
    margin: 70px 0px 20px 0px;
    font-family: var(--ff-main-content-q);
    color: white;
    text-shadow: var(--std-shadow);
}

.content-input {
    box-shadow: var(--std-shadow);
    font-family: var(--ff-primary);
    font-size: var(--regular-size);
    text-shadow: var(--std-shadow);
    width: 600px;
    border-radius: 7px;
    border: 1px solid rgba(179, 179, 179, 0.45);
    padding: 4px 12px;
}

.content-input:focus{
    outline: none;
}
.content-input::placeholder {
    color: rgba(179, 179, 179, 1);
}

/* ----Energy Page---- */

#energy-main {
    text-align: center;
}

#energy-main > h1 {
    color: var(--green8);
    font-family: var(--ff-large);
    text-shadow: var(--std-shadow);
    text-align: center;
    font-size: var(--title-size);
    margin-top: 50px;
}

#energy-main > h2 {
    color: white;
    font-family: var(--ff-primary);
    text-shadow: var(--std-shadow);
    text-align: center;
    font-size: var(--subtitle-size);
}

#energy-main > #electricity {
    font-family: var(--ff-primary);
    font-size: var(--regular-size);
    text-shadow: var(--std-shadow);
    width: 600px;
}


#energy-main > #heating {
    font-family: var(--ff-primary);
    font-size: var(--regular-size);
    text-shadow: var(--std-shadow);
    width: 200px;
}

#energy-main > #slider {
    -webkit-appearance: none;
    appearance: none;
    background: rgba(255,255,255,0);
    width: 600px;
}

#energy-main > #slider::-webkit-slider-runnable-track {
    height: 20px;
    background: white;
    border-radius: 10px;
    
}

#energy-main > #slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: var(--green9);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    top: 50%;
    transform:translateY(-50%);
}

#sliderValue {
    font-family: var(--ff-primary);
    font-size: var(--regular-size);
    text-shadow: var(--std-shadow);
    color: white;
}

/* ----Transportation page---- */
.content-title {
    font-family: var(--ff-main-content-title);
    font-size: var(--font-size-main-title);
    color: #1B4332;
}

.content-q-title {
    font-family: var(--ff-main-content-q);
    color: white;
    text-shadow: var(--std-shadow);
}


/* ----media queries---- */

/* Remove header-logo from navbar when screen less than 750px */
@media only screen and (max-width: 750px) {
    #header-logo {
        display: none;
    }
}
