:root {
    --green1: #D8F3DC; 
    --green2: #B7E4C7;
    --green3: #95D5B2;
    --green4: #74C69D;
    --green5: #52B788;
    --green6: #40916C;
    --green7: #2D6A4F;
    --green8: #1B4332;
    --green9: #081C15;

    --ff-primary: "Quicksand", serif;
    --ff-large: "Bebas Neue", serif;
    --font-size-main-navbar: 20px;

    --navbar-select-clr: var(--green1);
    --navbar-selct-bg-clr: rgba(217, 217, 217, 0.1);

    --std-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25), -1px -1px 2px rgba(255, 255, 255, 0.025);

    --content-bg-clr: linear-gradient(101.82deg, #D8F3DC 36.82%, #95D5B2 99.94%);
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

/* include border and padding in box-size */

*::before, *::after {
    box-sizing: border-box;
}

img, svg, picture {
    max-width: 100%;
}

/* Remove list styles on ul and ol */

ul, ol {
    list-style: none;
}

/* Remove anchor text decoration and take color of parent*/
a {
    color: inherit;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 86px;

    background: linear-gradient(90deg, #40916C 47.3%, #132B20 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header #header-logo {
    margin-left: 2.278645vw;
    width: 230px;
    justify-self: left;
    margin-right: 4.6875vw;
    cursor: pointer;

}

header .primary-navbar {
    width: 28.7109%;
    height: 100%;
    align-self: center;
}

header ul {
    height: 100%;
    width: 100%;
    display: inline-flex;
}

header li {
    align-self: center;
    font-weight: bold;
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 6.349206%;
    padding-right: 6.349206%;

    color: white;
    font-family: var(--ff-primary);
    font-size: var(--font-size-main-navbar);
    text-shadow: var(--std-shadow);
}

header li:hover {
    color: var(--navbar-select-clr);
    background: var(--navbar-selct-bg-clr);
}

/* navbar li element corresponding to active page highlight */
.active {
    color: var(--navbar-select-clr);
}

header .sign-in-btn {
    margin-left: auto;
    margin-right: 2.27864%;
    padding: 9px 1.9531%;

    background: rgba(64, 145, 108, 0.2);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25), -1px -1px 2px rgba(255, 255, 255, 0.025);
    border: none;
    border-radius: 42px;

    color: white;
    font-family: var(--ff-primary);
    font-size: var(--font-size-main-navbar);
    cursor: pointer;
}

.hover-select:hover {
    filter: brightness(90%);
}

 #home-main {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: var(--content-bg-clr);
 }

#home-main > #home-content {
    margin: 16.677195199vh 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "h p"
    "h b"
    ". ."
    ". .";
}

#home-content h1 {
    margin: 0;
    padding: 0;
    grid-area: h;
    width: 380px;
    font-family: var(--ff-large);
    color: var(--green6);
    font-weight: 400;
    font-size: 108px;
}

#home-content p {
    grid-area: p;
    width: 600px;
    font-family: var(--ff-primary);
    color: white;
    text-shadow: var(--std-shadow);
    font-weight: bold;
    font-size: 38px;
}

#home-content button {
    grid-area: b;
    align-self: end;
    width: 600px;
    height: 80px;
    margin-bottom: 30px;
    background-color: var(--green8);
    box-shadow: var(--std-shadow);

    border: none;
    border-radius: 20px;

    font-family: var(--ff-primary);
    font-weight: bold;
    color: white;
    font-size: 40px;
    text-shadow: var(--std-shadow);
    
    cursor: pointer;
}

/* Remove header-logo from navbar when screen less than 750px */
@media only screen and (max-width: 750px) {
    #header-logo {
        display: none;
    }
}

/* Collapse home-content grid when screen less than 1000px */
@media only screen and (max-width: 1000px) {
    #home-content h1 {
        grid-area: 1 / 1 / 2 / 3;
        margin: 10px auto;
        
    }
    #home-content p {
        margin: 10px 10px;
        grid-row: 3 / 4;
        grid-column: 1 / -1;
    }
    
    #home-content button {
        margin: 10px 10px;
        margin: auto;
        grid-row: 4 / -1;
        grid-column: 1 / -1;
    }
}



