:root {
    --green1: #D8F3DC; 
    --green2: #B7E4C7;
    --green3: #95D5B2;
    --green4: #74C69D;
    --green5: #52B788;
    --green6: #40916C;
    --green7: #2D6A4F;
    --green8: #1B4332;
    --green9: #081C15;

    /* Navbar */
    --ff-primary: "Quicksand", serif;
    --ff-large: "Bebas Neue", serif;
    --font-size-main-navbar: 20px;
    --navbar-select-clr: var(--green1);
    --navbar-selct-bg-clr: rgba(217, 217, 217, 0.1);

    --regular-size: 25px;

    /* Main Content */
    --ff-main-content-title: var(--ff-large);
    --ff-main-content-q: var(--ff-primary);

    --font-size-main-title: 80px;
    --font-size-main-q: 35px;

    --std-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25), -1px -1px 2px rgba(255, 255, 255, 0.025);
    --std-shadow-thick: 2px 2px 4px rgba(0, 0, 0, 0.25), -2px -2px 4px rgba(255, 255, 255, 0.025);
    --bg-clr: linear-gradient(101.82deg, #D8F3DC 36.82%, #95D5B2 99.94%);

    --placeholder-clr: rgba(179, 179, 179, 0.85);

    /* Results Page */
    --font-size-info-block-large: 90px
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

/* include border and padding in box-size */

*::before, *::after {
    box-sizing: border-box;
}

img, svg, picture {
    max-width: 100%;
}

/* Remove list styles on ul and ol */

ul, ol {
    list-style: none;
}

/* Remove anchor text decoration and take color of parent*/
a {
    color: inherit;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 86px;

    background: linear-gradient(90deg, #40916C 47.3%, #132B20 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header #header-logo {
    margin-left: 2.278645vw;
    width: 230px;
    justify-self: left;
    margin-right: 4.6875vw;
    cursor: pointer;

}

header .primary-navbar {
    width: 28.7109%;
    height: 100%;
    align-self: center;
}

header ul {
    height: 100%;
    width: 100%;
    display: inline-flex;
}

header li {
    align-self: center;
    font-weight: bold;
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 6.349206%;
    padding-right: 6.349206%;

    color: white;
    font-family: var(--ff-primary);
    font-size: var(--font-size-main-navbar);
    text-shadow: var(--std-shadow);
}

header li:hover {
    color: var(--navbar-select-clr);
    background: var(--navbar-selct-bg-clr);
}

/* navbar li element corresponding to active page highlight */
.active {
    color: var(--navbar-select-clr);
}

header .sign-in-btn {
    margin-left: auto;
    margin-right: 2.27864%;
    padding: 9px 1.9531%;

    background: rgba(64, 145, 108, 0.2);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25), -1px -1px 2px rgba(255, 255, 255, 0.025);
    border: none;
    border-radius: 42px;

    color: white;
    font-family: var(--ff-primary);
    font-size: var(--font-size-main-navbar);
    cursor: pointer;
}

.hover-select:hover {
    filter: brightness(85%);
}

.main-bg {
    background: var(--bg-clr);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Calculator Section Navigation Buttons */
.back-calculator-btn {
    display: flex;
    position: fixed;
    top: 50vh;
    left: 20px;
    width: 50px;
    height: 50px;
    line-height: 0px;
    background: var(--green8);
    border: none;
    box-shadow: var(--std-shadow-thick);

    justify-content: center;
    align-items: center;

    border-radius: 50%;
    color: white;
    text-shadow: var(--std-shadow);
    font-family: var(--ff-primary);
    font-size: 34px;
}

.back-calculator-btn > p {
    margin-bottom: 4px;
}

.next-calculator-btn {
    display: flex;
    position: fixed;
    top: 50vh;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 0px;
    background: var(--green8);
    border: none;
    box-shadow: var(--std-shadow-thick);

    justify-content: center;
    align-items: center;

    border-radius: 50%;
    color: white;
    text-shadow: var(--std-shadow);
    font-family: var(--ff-primary);
    font-size: 34px;
}

.next-calculator-btn > p {
    margin-bottom: 4px;
}

/* ----Main Content---- */

.main-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: cover;
}

.main-content-container {
    width: 700px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: cover;    
}

.content-title {
    font-family: var(--ff-main-content-title);
    font-size: var(--font-size-main-title);
    color: #1B4332;
}

.content-q-title {
    padding: 2px 4px;
    border: none;
    border-radius: 10px;
    background: rgba(64, 145, 108, 0.2);

    margin: 70px 0px 20px 0px;
    font-family: var(--ff-main-content-q);
    font-size: var(--font-size-main-q);
    color: white;
    text-shadow: var(--std-shadow);
}

.content-input {
    box-sizing: border-box; 
    width: 100%;
    margin: 20px 0px 5px 0px;
    box-shadow: var(--std-shadow);
    font-family: var(--ff-primary);
    font-size: var(--regular-size);
    text-shadow: var(--std-shadow);
    border-radius: 7px;
    border: 1px solid rgba(179, 179, 179, 0.45);
    padding: 4px 12px;
}

.content-input:focus{
    outline: none;
    text-shadow: none;
}

.content-input::placeholder {
    color: rgba(179, 179, 179, 1);
    text-shadow: none;
}

.content-dropdown {
    width: 100%;
    margin: 20px 0px 5px 0px;
    box-shadow: var(--std-shadow);
    border-radius: 7px;
    border: 1px solid rgba(179, 179, 179, 0.45);
    padding: 4px 12px;

    color: rgba(179, 179, 179, 1);
    font-family: var(--ff-primary);
    font-size: var(--regular-size);
    text-shadow: none;
}

.content-dropdown::placeholder {
    color: rgba(179, 179, 179, 1);
    text-shadow: none;
}

.content-dropdown:focus{
    outline: none;
    text-shadow: none;
}

.content-slider {
    -webkit-appearance: none;
    appearance: none;
    background: rgba(255,255,255,0);
    width: 100%;
}

.content-slider::-webkit-slider-runnable-track{
    height: 20px;
    background: white;
    border-radius: 10px;
}

.content-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: var(--green8);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    top: 50%;
    transform:translateY(-50%);
}

.content-checkbox {
    transform: scale(1.25);
}

.content-backdrop {
    margin: 70px 0px 20px 0px;
    width: 100%;
    height: fit-content;
}

input[type="checkbox"] {
    accent-color: var(--green6);
}

.content-label {
    font-family:var(--ff-primary);
    font-size:var(--regular-size);
    color: var(--green8);
    text-shadow:var(--std-shadow)
}

/* ----Energy Page---- */

#sliderValue {
    margin-top: 15px;
    font-family:var(--ff-primary);
    font-size:var(--regular-size);
    color: var(--green8);
    text-shadow:var(--std-shadow)
}

/* ----Waste Management page---- */

.waste-management-content-checks {
    display: flex;
}

#waste-management-content-check1 {
    margin-left: 20px;
    margin-right: auto;
}
#waste-management-content-check2 {
    margin-left: 15px;
    margin-right: auto;
}

/* ----Food page---- */

#food-content-checks {
    margin-top: 20px; 
}

#food-content-check1 {
    margin-left: 15px;
}

/* ----Results Page---- */

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px 20px 0px;
    width: 100%;
    height: fit-content;
    
    background: rgba(64, 145, 108, 0.2);
    border-radius: 20px;
    padding: 20px;

}

.info-block-subtitle {
    margin-bottom: 30px;
    text-align: center;
    font-family: var(--ff-primary);
    font-size: var(--font-size-main-q);
    color: white;
    text-shadow: var(--std-shadow);
}

.info-block-text {
    font-family: var(--ff-primary);
    font-size: var(--font-size-main-q);
    color: white;
    text-shadow: var(--std-shadow);
    margin-right: auto;
}

.info-block-text-large {
    font-family: var(--ff-primary);
    font-size: var(--font-size-info-block-large);
    font-weight: bold;
    color: white;
    text-shadow: var(--std-shadow);
}

#piechart {
    overflow: hidden;    /* Ensure the chart's contents stay within the rounded corners */
}

/* ----media queries---- */

/* Responsitivity for elements when screen less than 750px */
@media only screen and (max-width: 750px) {
    #header-logo {
        display: none;
    }

    .content-input {
        width: 100%;
        max-width: 400px;
    }

    .content-slider {
        width: 100%;
        max-width: 400px;
    }

    .content-dropdown {
        width: 100%;
        max-width: 400px;
    }

    .info-block {
        width: 100%;
        max-width: 400px;
    }
}
